<div class="row">
    <div class="col-sm-3 rounded-2">
        <div class="card shadow-sm">
            <div class="card-body d-flex">
                <div class="">
                    <span class="card-title fw-bold ">Total Penjualan Bulan ini</span>
                    <p class="card-text">2,34</p>
                    <p class="card-text text-light">Hello</p>
                </div>
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/dollar-sign-solid.svg" alt="" style="width: 20px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 rounded-2">
        <div class="card shadow-sm">
            <div class="card-body d-flex">
                <div class="">
                    <span class="card-title fw-bold ">Total Penjualan Hari ini</span>
                    <p class="card-text">2,34</p>
                    <p class="card-text text-light">Hello</p>
                </div>
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/dollar-sign-solid.svg" alt="" style="width: 20px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 rounded-2">
        <div class="card shadow-sm">
            <div class="card-body d-flex">
                <div class="">
                    <span class="card-title fw-bold ">Penjualan Produk</span>
                    <p class="card-text">Makanan (25)</p>
                    <p class="card-text">Minuman (30)</p>
                </div>
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/boxes-solid.svg" alt="" style="width: 40px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 rounded-2">
        <div class="card shadow-sm">
            <div class="card-body d-flex">
                <div class="">
                    <span class="card-title fw-bold ">Best Seller</span>
                    <p class="card-text">Nasi Goreng (25)</p>
                    <p class="card-text">Kopi (30)</p>
                </div>
                <div class="mx-auto d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/medal-solid.svg" alt="" style="width: 40px;">
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 d-flex justify-content-center">
        <form class="row g-3">
            <div class="col-auto d-flex justify-content-center">
                <label for="date1" class="mr-3">Awal</label>
                <input type="date" class="form-control" id="date1">
            </div>
            <div class="col-auto d-flex justify-content-center align-items-center">
                <label for="date2" class="mr-3">Akhir</label>
                <input type="date" class="form-control" id="date2">
            </div>
        </form>
    </div>
</div>


<div class="col mt-3">
    <div class="d-flex">
        <div class="col-sm-4 card shadow-sm mr-2">
            <div class="card-title text-center mt-3">
                <h5 class="">Penjualan Produk</h5>
                <div class="card-body">
                    <div class="chartjs-chart">
                        <!-- Bar Chart -->
                        <canvas id="pieChart" width="75" height="75" style="display: block;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 card shadow-sm mr-2">
            <div class="card-title text-center mt-3">
                <h5 class="">Total Penjualan produk Hari ini</h5>
                <div class="card-body">
                    <div class="chartjs-chart">
                        <!-- Bar Chart -->
                        <canvas id="barsChart" width="75" height="75" style="display: block;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 card shadow-sm">
            <div class="card-title text-center mt-3">
                <h5 class="">Total Penjualan produk Bulan ini</h5>
            </div>
            <div class="card-body">
                <canvas id="lineChart" width="75" height="75" style="display: block;"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.js"></script>
