<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/#/dashboard">Tokoku</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                <li class="nav-item d-flex align-items-center mx-3">
                    <img src="../../../assets/img/home-solid.svg" alt="" style="width: 20px">
                    <a href="/#/dashboard" class="nav-link active">Dashboard</a>
                </li>
                <li class="nav-item d-flex align-items-center mx-3">
                    <img src="../../../assets/img/box-solid.svg" alt="" style="width: 15px">
                    <a href="/#/product" class="nav-link active">Produk</a>
                </li>
                <li class="nav-item d-flex align-items-center mx-3">
                    <img src="../../../assets/img/wallet-solid.svg" alt="" style="width: 15px">
                    <a href="/#/kasir" class="nav-link active">Kasir</a>
                </li>
                <li class="nav-item d-flex align-items-center mx-3">
                    <img src="../../../assets/img/file-alt-solid.svg" alt="" style="width: 12px">
                    <a href="/#/transaksi" class="nav-link active">Transaksi</a>
                </li>
            </ul>
            <a href="/#/dashboard" class="d-flex align-items-center mx-2">
                <img src="../../../assets/img/user-solid.svg" style="width: 20px;" class="text-light" alt="">
            </a>
            <a href="/#/login" class="d-flex align-items-center mx-3">
                <img src="../../../assets/img/sign-out-alt-solid.svg" style="width: 20px; " class="text-light" alt="">
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 py-4">
            <ul class="list-group">
                <!-- produk -->
                <li class="list-group-item list-group-item-primary">Produk</li>
                <li class="list-group-item">Kelola Produk</li>
                <li class="list-group-item">Diskon</li>
                <li class="list-group-item">Kategory Produk</li>
                <!-- Toko -->
                <li class="list-group-item list-group-item-primary">Kelola Toko</li>
                <li class="list-group-item">Pembayaran</li>
                <li class="list-group-item">Outlet</li>
                <li class="list-group-item">Inventory</li>
                <!-- Transaksi -->
                <li class="list-group-item list-group-item-primary">Transaksi</li>
                <li class="list-group-item">Penjualan</li>
                <li class="list-group-item">Pembelian</li>
                <!-- Pengaturan -->
                <li class="list-group-item list-group-item-primary">Laporan</li>
                <li class="list-group-item"><a href="/#/laporan" class="text-decoration-none text-muted">Penjualan</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-10 pt-4">
            <div class="my-3">
                <form class="row g-3">
                    <div class="col-auto d-flex">
                        <label for="date1" class="d-none">Tanggal awal</label>
                        <input type="date" class="form-control" id="date1">
                    </div>
                    <div class="col-auto"><span>_</span></div>
                    <div class="col-auto d-flex">
                        <label for="date2" class="d-none">Tanggal Akhir</label>
                        <input type="date" class="form-control" id="date2">
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary text-light">Proses</a>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-4 rounded-2">
                    <div class="card shadow-sm">
                        <div class="card-body" style="background-color: #cfe2ff;">
                            <div class="mb-3">
                                <span class="fs-3 text-center">Total Nominal Transaksi</span>
                                <h1 style="font-size: 60px" class="text-center mt-2">100000</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 rounded-2">
                    <div class="card shadow-sm">
                        <div class="card-body bg-success">
                            <div class="mb-3">
                                <span class="fs-3 text-center ">Total Transaksi</span>
                                <h1 style="font-size: 60px" class="text-center mt-2">10</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 my-4">
                    <div class="containter-fluid ">
                        <table class="table table-bordered">
                            <thead class="table-primary" style="background-color: #cfe2ff;">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">ID Transaksi</th>
                                <th scope="col">Waktu</th>
                                <th scope="col">Kasir</th>
                                <th scope="col">Total Transaksi</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- <tr *ngFor="let kasir of tableKasir">
                              <th scope="row">{{kasir.id}}</th>
                              <td>{{kasir.name}}</td>
                              <td>{{kasir.price}}</td>
                              <td>{{kasir.qty}}</td>
                              <td>{{kasir.discount}}</td>
                              <td>{{kasir.total}}</td>
                              <td>
                                  <a href="" class="btn btn-warning me-2">Edit</a>  <a href="" class="btn btn-danger">Hapus</a>
                              </td>
                            </tr>                                   -->
                            <tr>
                                <th scope="row">1</th>
                                <td>hdf62jhd9s</td>
                                <td>6/12/09</td>
                                <td>Budi Nugroho</td>
                                <td>100000</td>
                                <td>
                                    <a class="btn btn-warning mr-2" (click)="open(editData)">
                                        <img src="../../../assets/img/edit-solid.svg" alt="" width="18">
                                    </a>
                                    <a href="" class="btn btn-danger align-items-center mr-2">
                                        <img src="../../../assets/img/trash-solid.svg" alt="" width="16">
                                    </a>
                                    <a class="btn btn-info align-items-center" (click)="open(detailData)">
                                        <img src="../../../assets/img/file-download-solid.svg" alt="" width="14">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--edit data-->
<ng-template #editData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-edit-title">Edit Data</h4>
        <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="mb-3">
                    <label for="editName" class="form-label">ID Transaksi</label>
                    <input type="text" class="form-control" id="editName" disabled placeholder="Id Transaksi"
                           value="2f6fdh43g4"
                           formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="date3" class="form-label">Waktu</label>
                    <input type="date" class="form-control" id="date3">
                </div>
                <div class="mb-3">
                    <label for="cashier" class="form-label">Kasir</label>
                    <input type="text" class="form-control" id="cashier"
                           formControlName="price">
                </div>
                <div class="mb-3">
                    <label for="total" class="form-label">Total</label>
                    <input type="number" class="form-control" id="total" placeholder="Total Transaksi"
                           formControlName="hpp">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Tambah</button>
    </div>
</ng-template>

<!--detail data-->
<ng-template #detailData let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-detail-title">Detail Data</h4>
        <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="">
            <div class="d-flex my-3 flex-column" style="margin-left: 12px">
                <span><strong>ID Transaksi</strong></span>
                <span>hdf62jhd9s</span>
            </div>
            <div class="d-flex my-3">
                <div class="col-sm-6 d-flex flex-column">
                    <span><strong>Pendapatan Kotor</strong></span>
                    <span>48.000</span>
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <span><strong>Tanggal & waktu</strong></span>
                    <span>27/12/2021</span>
                </div>
            </div>
            <div class="d-flex my-3">
                <div class="col-sm-6 d-flex flex-column">
                    <span><strong>Jenis Pembayaran</strong></span>
                    <span>Tunai</span>
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <span><strong>Total Item</strong></span>
                    <span>8</span>
                </div>
            </div>
            <div class="d-flex my-3">
                <div class="col-sm-6 d-flex flex-column">
                    <span><strong>Customer</strong></span>
                    <span>Umum</span>
                </div>
                <div class="col-sm-6 d-flex flex-column">
                    <span><strong>Kasir</strong></span>
                    <span>Budi</span>
                </div>
            </div>
            <div class="mt-4">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Produk</th>
                        <th scope="col">Qty</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nasi Goreng dan Mie Goreng</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Kopi</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Ayam Geprek</td>
                        <td>2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Keluar</button>
    </div>
</ng-template>
